{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
    <link rel="stylesheet" href="{% static 'css/c2.css' %}">
</head>
<body>
    <center>
        <h1> specificstatic</h1>
        <h2> this c1.css propertites</h2>
        <img src="{% static 'images/2.jpg.webp' %}" alt="" srcset="" height=300px" width="250px">
        <img src="{% static 'images/am.jfif' %}" alt="" srcset="" height=300px" width="200px"> 
        <img src="{% static 'images/amma.jfif' %}" alt="" srcset="" height=300px" width="200px"> 
    </center>
</body>
</html>